{{ define "main" }}

<article class="post-single">
    <!--文章头部-->
    <header>
        <h1>{{ .Title }}</h1>
        <span class="summary">{{ .Summary }}</span>
        <div class="meta">
            <time>
                <i class="icon far fa-calendar"></i>
                编辑于 {{ .Lastmod.Format "2006 年 01 月 02 日" }}
            </time>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh" target="_blank" rel="noopener noreferrer">
                <i class="icon far fa-copyright"></i>
                CC-BY-SA-4.0
            </a>
        </div>
    </header>

    <!--目录-->
    {{ if and (ne .Params.toc false) (gt (.TableOfContents | string | len) 32) }}
        <aside>
            <h2>Table of Contents</h2>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    <!--正文-->
    <section class="body">
        {{ .Content }}
    </section>

    <!--相关内容-->
    <section class="related">
        {{ $related := .Site.RegularPages.Related . | first 5 }}
        {{ with $related }}
            <h3>Related</h3>
            <ul>
                {{ range .}}
                    <li><a href="{{.RelPermalink}}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </section>

    <!--底部导航-->
    <div class="bottom-nav">
        {{ with .Prev }}
        <a href="{{ .RelPermalink }}">&lt; {{ .Title }}</a>
        {{ end }}

        {{ with .Next }}
        <a href="{{ .RelPermalink }}">{{ .Title }} &gt;</a>
        {{ end }}
    </div>

    <!--评论-->
    <section class="comments">
        <h3>Comments</h3>
        {{ template "_internal/disqus.html" . }}
    </section>
</article>

{{ end }}
